<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="folderpath" value="d:\" />
    <add key="filepath" value="Signal.txt" />
    <add key="access_key" value="bCx3A5fO8kWfoM5WrNTtdbx9l9xRvaIGnCB3uSjy" />
    <add key="secret_key" value="LXZHyqdxIgexfYqNokGt2xvNR1sKNixirMDauhca" />
    <add key="telegram_token" value="847134638:AAFDr-LYtANnangEqkerhRwHF3-B-gu4JcY" />
    <add key="telegram_char_id" value="853884665"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>